<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--Default Port # -->
    <add key="Port" value="55555"/>
    <!--The number of SocketAsyncEventArg objects put in the pool of objects for receive/send.-->
    <add key="maxNumberOfConnections" value="3000"/>
    <!--Max number of asynchronous accept operations that can be posted simultaneously. -->
    <add key="maxSimultaneousAcceptOps" value="10"/>
    <!-- Can be changed. Currently set the buffer size. -->
    <add key="testBufferSize" value="10"/>
    <!-- The size of the queue of incoming connections for the listen socket. -->
    <add key="backlog" value="100"/>
    <!-- For the BufferManager -->
    <add key="opsToPreAlloc" value="2"/>
    <!-- allows excess SocketAsyncEventArgs objects in pool. -->
    <add key="excessSaeaObjectsInPool" value="1"/>
    
    
    <add key="FileDirectory" value=""/>
    <add key="ParallelNum" value="8000"/>
    <add key="SocketTimeOutMS" value="300000"/>
  </appSettings>
</configuration>
